.card
  .video
    #dplayer
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/hls.js@latest')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/gh/MoePlayer/DPlayer@master/dist/DPlayer.min.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/gh/haikesikejiqiang/picred@master/2020/03/13/dp.js')